include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
    +head("Pho Apparel E-shop")
    body
        .wrapper
            header 
                +nav
            .content
                .news
                    .container
                        main 
                            h1 Sales 
                                span up to 70%
                .section
                    .container
                        h2 Products
                        .cards_wrapper
                            each prod in products
                                .card_item
                                    img.card_image(src=prod.imgurl alt="")
                                    .card_body
<<<<<<< HEAD
                                        h3(class ="card_title") #{products[i].title}
                                        p(class ="card_prise") #{products[i].prise}$
                                        p.description #{products[i].desc}
=======
                                        h3(class ="card_title") #{prod.title}
                                        p(class ="card_prise") #{prod.prise}$
                                        p #{prod.desc}
>>>>>>> 4104f62e823667ccc543dee52493a7857db7b067
                                        .card_wrapper
                                            a(href="/product/" + prod.prodId) Learn more
                                            a(href="") Add to card
            +footer
        script(src="./js/index.js")             